<div ng-controller="timelineCtrl">
    <div class="callout callout-info">
        <h4>提示</h4>

        <p>在这里可以查看班级圈的最新动态</p>
    </div>
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                      2017年5月10号
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 27 分钟之前</span>

                    <h3 class="timeline-header"><a href="#">王菊美的妈妈</a> 发表了新动态</h3>

                    <div class="timeline-body">
                        今天带孩子去海边玩！
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">删除</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 小时之前</span>

                    <h3 class="timeline-header"><a href="#">叶良辰的爸爸</a> 发表了新动态</h3>

                    <div class="timeline-body">
                        看着孩子一天天长大，刚到由衷地幸福，肩上的担子也越来越重了啊
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">删除</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-green">
                    2017年5月9号
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 1天4小时之前</span>

                    <h3 class="timeline-header"><a href="#">杰瑞米的爸爸</a> 发表了新动态</h3>

                    <div class="timeline-body">
                        我要一步~一步~往上爬~~~
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">删除</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li id>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 1天8小时之前</span>

                    <h3 class="timeline-header"><a href="#">王小虎的妈妈</a> 发表了新动态</h3>

                    <div class="timeline-body">
                        最近孩子好像进入叛逆期了，跪求圈友们交流和孩子沟通的方式。。。
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">删除</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <li class="time-label">
                  <span class="bg-green">
                    2017年5月8号
                  </span>
            </li>
            <!-- timeline item -->
            <li>
                <i class="fa fa-camera bg-purple"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2天之前</span>

                    <h3 class="timeline-header"><a href="#">玛丽简的妈妈</a> 上传了新照片</h3>

                    <div class="timeline-body">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                    </div>
                </div>
            </li>
            <!-- timeline item -->
            <li>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2天之前</span>

                    <h3 class="timeline-header"><a href="#">杰宝宝的妈妈</a> 发表了新动态</h3>

                    <div class="timeline-body">
                        最近工作压力很大，都顾不上孩子了，心比身体更累。
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">删除</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li id>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2天之前</span>

                    <h3 class="timeline-header"><a href="#">叶良辰的爸爸</a> 发表了新动态</h3>

                    <div class="timeline-body">
                        我家辰辰真懂事，知道帮忙做家务了。
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">删除</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
        </ul>
    </div>
</div>
