<!-- Main content -->
<div class="callout callout-info">
    <h4>提示</h4>

    <p>在这里可以查看班级用户的信息，也可以删除用户</p>
</div>
<section class="content" ng-controller="use">
    <div class="row">
        <!-- /.col -->
        <div class=" center-block">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">班级用户信息表</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            1-20/40
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped userInfo-form">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>金色勋章</th>
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>孩子姓名</th>
                                <th>学号</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name">杰宝大王</td>
                                <!--<td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...-->
                                <!--</td>-->
                                <td class="mailbox-read-info">13685758804</td>
                                <td class="mailbox-messages">大黑</td>
                                <td class="mailbox-messages">15791344</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>赵丽颖</td>
                                <td>15888820570</td>
                                <td>景岗山</td>
                                <td>15791345</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>陈百强</td>
                                <td>15888801077</td>
                                <td>康净淳</td>
                                <td>15791346</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>陈浩民</td>
                                <td>13567135762</td>
                                <td>孔孝真</td>
                                <td>15791347</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>陈自瑶</td>
                                <td>13588330529</td>
                                <td>黎亚</td>
                                <td>15791348</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>布拉德皮特</td>
                                <td>13655712902</td>
                                <td>孔令奇</td>
                                <td>15791349</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>高修</td>
                                <td>13732276533</td>
                                <td>邝美云</td>
                                <td>15791350</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>郭羡妮</td>
                                <td>13732279722</td>
                                <td>金学峰</td>
                                <td>15791351</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>范晓萱</td>
                                <td>13656630107	</td>
                                <td>梁家辉</td>
                                <td>15791352</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>杜磊</td>
                                <td>13575707891</td>
                                <td>林保怡</td>
                                <td>15791353</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>黄乙玲</td>
                                <td>13858101146</td>
                                <td>林忆莲</td>
                                <td>15791354</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>黄秋生</td>
                                <td>13857165893</td>
                                <td>李小璐</td>
                                <td>15791355</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>侯湘婷</td>
                                <td>13867159940</td>
                                <td>李珊珊</td>
                                <td>15791356</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>黄海冰</td>
                                <td>13867191011</td>
                                <td>李恕权</td>
                                <td>15791357</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>黄秀贞</td>
                                <td>13858130312</td>
                                <td>朴树</td>
                                <td>15791358</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>金海心</td>
                                <td>13777891152</td>
                                <td>朴志胤</td>
                                <td>15791359</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>金泰熙</td>
                                <td>13868106107</td>
                                <td>宋承宪</td>
                                <td>15791360</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                <td>雷颂德</td>
                                <td>13867450120</td>
                                <td>苏醒/td>
                                <td>15791361</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>海明威</td>
                                <td>13867123539</td>
                                <td>孙浩</td>
                                <td>15791362</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>柯受良</td>
                                <td>13867148477</td>
                                <td>苏永康</td>
                                <td>15791363</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="mailbox-star mailbox"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td>蒋勤勤</td>
                                <td>13867154554</td>
                                <td>方海星</td>
                                <td>15791364</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
